<ion-content>
  <div class="page">
    <ion-row>
      <ion-col class="img-container">
        <img src="../../assets/images/on-board.png" alt="onboard" class="img">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="boarding-container">
        <span class="app-name">Apps Kurir</span>
        <span class="note">Siapkan strategi khusus untuk</span>
        <span class="note">mengatasi keluhan pelanggan.</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>
          Mulai Sekarang
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
