<ion-header class="ion-no-border">
  <page-header title="Pickup"></page-header>
</ion-header>
<ion-content>
  <div class="page">
    <ion-tabs>
      <ion-tab-bar slot="top" class="tab-border" mode="ios">
        <ion-tab-button tab="pending" layout="icon-top"> Pending </ion-tab-button>
        <ion-tab-button tab="inprogress"> In Progress </ion-tab-button>
        <ion-tab-button tab="success"> Success</ion-tab-button>
        <ion-tab-button tab="trouble"> Trouble</ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>