.see-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 8px 0;

  .pending {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  .see-all {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #e52138;
  }
}

.status-container {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(25, 37, 61, 0.12);
  border-radius: 12px;
  padding: 16px;

  .header-container {
    display: flex;
    justify-content: space-between;

    .icon-section {
      display: flex;
      flex-direction: row;

      .resi-number {
        margin-left: 8px;
        display: flex;
        flex-direction: column;

        .number {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #101828;
        }

        .date {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #667085;
        }
      }
    }

    .pending {
      background: #fff9db;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      color: #f59f00;
      padding: 0 12px;
      border-radius: 16px;
    }
  }

  .detail-container {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #667085;
    }

    .value {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #101828;
    }
  }

  .address-container {
    background: #fffaeb;
    border-radius: 12px;
    margin-top: 5px;
    padding: 8px 10px;

    .location {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #101828;
      }

      p {
        margin: 4px 0 0 0;
      }
    }
  }
}

.line {
  border-bottom: 1px solid #d0d5dd;
  margin: 8px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
