<ion-row style="gap: 16px;">
  <ion-col class="progres-container ion-no-padding">
    <div>
      <img src="../../assets/icon/progress-icon.svg" alt="">
    </div>
    <div class="text-container">
      <span class="progress">Pending</span>
      <span class="pickup">1 Pickup</span>
    </div>
  </ion-col>
  <ion-col class="progres-container ion-no-padding"> 
    <div>
      <img src="../../assets/icon/progress-icon.svg" alt="">
    </div>
    <div class="text-container">
      <span class="progress">In Progress</span>
      <span class="pickup">1 Pickup</span>
    </div>
  </ion-col>
</ion-row>
<ion-row style="gap: 16px;">
  <ion-col class="progres-container ion-no-padding">
    <div>
      <img src="../../assets/icon/progress-icon.svg" alt="">
    </div>
    <div class="text-container">
      <span class="progress">Success</span>
      <span class="pickup">1 Pickup</span>
    </div>
  </ion-col>
  <ion-col class="progres-container ion-no-padding">
    <div>
      <img src="../../assets/icon/progress-icon.svg" alt="">
    </div>
    <div class="text-container">
      <span class="progress">Trouble</span>
      <span class="pickup">1 Pickup</span>
    </div>
  </ion-col>
</ion-row>