.container {
  font-family: "Google Sans";
  font-style: normal;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #101828;
  }

  .back{
    font-size: 18px;
  }
}
