<ion-content class="page">
  <ion-row>
    <ion-col class="ion-no-padding">
      <div class="header">
        <span class="title">Akun</span>
      </div>
      <div class="profile">
        <div>
          <img src="../../assets/images/img-profile.png" alt="">
        </div>
        <div class="profile-detail">
          <span class="name">Albertus Pangaribuan</span>
          <span class="phome">+62822-8058-1234</span>
          <span class="email">advenreey@gmail.com</span>
        </div>
        <div class="edit-container">
          <span class="edit">Ubah</span>
        </div>
      </div>
      <div class="list">
        <ion-list>
          <ion-item lines="none" style="color: black;">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-label>Ganti Kata Sandi</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Beri Nilai Aplikasi</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="notifications"></ion-icon>
            <ion-label>Notifikasi</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="notifications"></ion-icon>
            <ion-label>Bantuan </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="shield-checkmark"></ion-icon>
            <ion-label>Kebijakan Privasi</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <ion-label>Keluar</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>