.page {
  font-family: "Google Sans";
  font-style: normal;
  .header {
    background-image: url("../../assets/images/header-home.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .img {
      position: absolute;
      z-index: -1;
    }

    .branch {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
    }

    .name {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #ffffff;
    }
  }

  .content {
    padding: 0 16px;

    
  }
}
